
<% layout('/layouts/boilerplate') %>

<div class="signup col-6 offset-3 mt-2">
    <h2>Sign Up:</h2>
    <form class="row col-10 offset-1 mt-4 was-validated " action="/signup" method="post">
    
        <div class="col-md-12 mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control " id="username" name="username" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-12 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control"  id="email" required >
          </div>
        <div class="col-md-12 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control"  id="password" required >
        </div>
        <div class="col-12 mb-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
</div>
  